.root {
    -fx-font-family: "Segoe UI";
}

.bg {
    -fx-background-color: linear-gradient(to bottom right, #4a148c, #7b1fa2, #ab47bc);
}

.card {
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 25, 0.3, 0, 8);
    -fx-padding: 35;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #4a148c;
}

.subtitle {
    -fx-text-fill: #666;
    -fx-font-size: 13px;
}

.text-field, .password-field {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #ccc;
    -fx-padding: 12;
    -fx-font-size: 14px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #7b1fa2;
}

.main-btn {
    -fx-background-color: linear-gradient(to right, #7b1fa2, #ab47bc);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 12 35;
}

.main-btn:hover {
    -fx-background-color: linear-gradient(to right, #6a1b9a, #9c27b0);
    -fx-cursor: hand;
}

.otp-field {
    -fx-font-size: 22px;
    -fx-alignment: center;
    -fx-letter-spacing: 6px;
}
